{block css}
<link rel="stylesheet" href="{$basePath}/css/homepage.css"/>
<link rel="stylesheet" href="{$basePath}/bower_components/simple-sidebar/index.css"/>
{/block}


{block content}
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="row sidebar-first">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                {if $user->isLoggedIn()}
                    <a href="{link signin-out!}" id="button-logout">{_ui.common.logout}</a>
                    {* can also be written as signin:out *}
                {else}
                    <a href="#" id="button-login">{_ui.common.login}</a>
                {/if}
                <div class="hidden" id="control-signin">
                    {control signin}
                    <a href="{link Register:default}">{_ui.hp.register.link}</a>
                    {_ui.hp.register.text}
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>


        {* CATEGORIES *}
        <form>
            <div class="checkbox">
                <label>
                    <input class="checkbox-static" type="checkbox" value="zvemecz-all" checked="checked">
                    {_ui.hp.categories.all}
                </label>
            </div>
            <div n:foreach="$categories as $id=>$category" class="checkbox">
                <label>
                    <input type="checkbox" value="{$id}" checked="checked">
                    <span>{$category}</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input class="checkbox-static" type="checkbox" value="zvemecz-none">
                    {_ui.hp.categories.none}
                </label>
            </div>
        </form>
    </div>





    <main id="page-content-wrapper" class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="menu-cell">
                <div class="icon" title="{_ui.hp.toggleMenu}">
                    <a href="#" id="menu-toggle">
                        <span class="glyphicon glyphicon-menu-right control" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <h1 n:block=title class="title">{_ui.hp.title}</h1>
                <small class="version">{$version}</small>
            </div>
            <div class="col-md-4" id="upload-cell">
                <section id=control-panel>
                    {* LATER delete *}
                    <div id="wedos problem">
                        <a href="{$basePath}/wedos-problem/index.php">wedos problem</a>
                    </div>


                    <div id="upload" class="icon" title="{_ui.hp.upload.tooltip}">
                        <a href="{link Upload:default}">
                            <span class="glyphicon glyphicon-cloud-upload control" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="clear"></div>
                </section>
            </div>
        </div>
        <div>

            {* ADMIN SECTION *}
            <section id="admin" n:if="$user->isInRole('admin')" class="row">
                <div class="col-md-4">
                    <a n:href="Admin:">(Administrace)</a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <button  id="btn-select" type="button" class="btn btn-danger btn-sm">
                        {_ui.hp.admin.button.select}
                    </button>
                    <button  id="btn-delete" type="button" class="btn btn-danger btn-sm">
                        {_ui.hp.admin.button.delete}
                    </button>
                </div>
            </section>



            {* GALLERY *}
            <section id="gallery">
                {*<a n:foreach="$posters as $poster" href="{$basePath}/{$poster->getPathHd()->toUrl()}">*}
                <a n:foreach="$posters as $poster" href="{link Detail:default $poster->getId()}">
                    <img
                            class="mini zvemecz-poster"
                            src="{$basePath}/{$poster->getPathThumb()->toUrl()}"
                            data-date="{$poster->getDateEnd()|date:'%Y-%m-%d'}"
                            data-category="{$poster->getCategory()}"
                            data-payment="{$poster->getPayment()}"
                    />
                </a>
            </section>

        </div>
    </main>
</div>
{/block}

