{import 'uploadForm.latte'}



{block css}
    <link rel="stylesheet" href="{$basePath}/bower_components/SpinKit/css/spinners/2-double-bounce.css">
    <link rel="stylesheet" href="{$basePath}/bower_components/jquery-ui/themes/base/jquery-ui.min.css">
    <link rel="stylesheet" href="{$basePath}/css/upload.css">
{/block}

{block content}
<div class="container">
    <h1 n:block=title>{_ui.up.h1}</h1>
    <div class="row">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <form id="form-choose-file" class="slide slide-1 disable-submit">
                    <button class="btn btn-default btn-lg" id="button-choose-file">{_ui.up.choose} ...</button>
                    <input type="file" id="input-file-hidden" class="hidden"/>
                    {* size and type is checked in JS later *}
                    {*
                        LATER
                        <hr>
                    <p n:if="!$user->isLoggedIn()">
                        {_ui.up.warnNotLoggedIn}
                        <a href="{link Homepage:default}">{_ui.up.warnNotLoggedInLogin}</a>.
                    </p>
                    *}
                </form>
                <div class="slide slide-2 sk-double-bounce hidden">
                    <div class="sk-child sk-double-bounce1"></div>
                    <div class="sk-child sk-double-bounce2"></div>
                </div>
                <div class="slide slide-3 hidden">
                    <div class="upload-preview">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
                        {* CARE this is an empty image (because src must not be empty) *}
                    </div>
                    <button id="button-crop-complete" class="btn btn-default">{_ui.up.ok}</button>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="slide slide-4 row hidden">
            <div class="col-sm-4">
                <div class="col-sm-4 upload-preview">
                    <img src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="/>
                </div>
            </div>
            <div class="col-sm-4">
                {include uploadFormBlock}
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="slide slide-5 hidden">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div id="progress-file">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                0%
                            </div>
                        </div>
                        <div class="ok hidden">OK</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <strong><a n:href="Homepage:default">{_ui.up.back}.</a></strong>
                </div>
            </div>


            {* LATER
            <div class="row" n:if="$user->isLoggedIn()">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="{link :payment}" class="btn btn-default ajax">
                        {_ui.up.form.buttonPay}
                    </a>
                </div>
                <div class="col-md-4"></div>
            </div>
            *}
        </div>
    </div>
</div>
{/block}




{*<div class="row" n:if="$user->isInRole('admin')">*}
{*<div class="col-md-4"></div>*}
{*<div class="col-md-4">*}
{*<div id="progressOverall">*}
{*<div class="progress">*}
{*<div class="progress-bar progress-bar-success" role="progressbar"*}
{*aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">*}
{*0%*}
{*</div>*}
{*</div>*}
{*<div class="ok hidden">OK</div>*}
{*</div>*}
{*</div>*}
{*<div class="col-md-4"></div>*}
{*</div>*}