{block uploadFormBlock}
    {form uploadForm class=>"ajax-manual disable-submit", enctype=>"application/x-www-form-urlencoded"}
    {* this enctype is preferred for non-binary (not a file) data *}
    <div class="form-group">
        <label n:name="fakeEndDate">{_ui.up.form.endDate}:</label>
        <input n:name="fakeEndDate" type="date" class="form-control" readonly="readonly"/>
        {* CARE impossible to use end-date, only alphanumerics allowed *}
    </div>
    <div class="row" id="form-upload-category">
        <div class="col-sm-6">
            <div class="form-group">
                <label n:name="categoryId">{_ui.up.form.category}:</label>
                <select n:name="categoryId" class="form-control">
                    <option n:foreach="$form['categoryId']->getItems() as $id=>$category" value="{$id}">
                        {$category}
                    </option>
                    {* Nette makes $form variable available here (automatically) *}
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            {_ui.up.form.categoryMissing.text},
            <a href="#" id="form-upload-button-new-category">{_ui.up.form.categoryMissing.new}.</a>
        </div>
    </div>
    <div class="row" id="form-upload-category-new">
        <div class="col-sm-6">
            <a href="#" id="form-upload-button-back">Zpět</a>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label n:name="categoryNew">{_ui.up.form.categoryNew}:</label>
                <input n:name="categoryNew" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label n:name="location">{_ui.up.form.location}:</label>
        <input n:name="location" class="form-control"/>
    </div>

    <div class="form-group">
        <label n:name="url">{_ui.up.form.url}:</label>
        <input n:name="url" class="form-control"/>
    </div>
    <div class="form-group">
        <label n:name="name">{_ui.up.form.name}:</label>
        <input n:name="name" class="form-control"/>
    </div>
    <div class="form-group">
        <label n:name="description">{_ui.up.form.description}:</label>
        <textarea n:name="description" class="form-control"/>
    </div>
    <input n:name="upload" id="button-start-upload" class="btn btn-default"/>

    {/form}
{/block}