{block css}
{/block}





{block content}
<div class="container">
    <div class="row">
        <h1>Admin environment</h1>
    </div>
    <div class="row">
        <div class="col-md-2"><a n:href="Homepage:">(Homepage)</a></div></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    <div class="row">
        <div class="col-md-4">
            <h2>session</h2>
            <p>
                number of session files: {$sessionFilesCount}
                <br>number of session files ready to be trashed: {$sessionFilesCountExpired}
                <br><a n:href="Admin:deleteOldSessionFiles">empty session trash</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>posters</h2>
            <p>
                number of posters: {$posterCount}
                <br>number of posters that are not visible anymore: {$posterCountOld}
                <br><a n:href="Admin:deleteOld">delete old posters</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>system</h2>
            <p>
                db time: {$timeDb}
                <br>php time: {$timePhp}
                <br>post max size: {$postMaxSize}
                <br>post input vars: {$maxInputVars}
                <br>Folders that MUST be writable: (eg. 40777)
                <span style="color:grey">
                {foreach $writableFolders as $folder}
                    <br>{$folder->toUrl()}: {decoct(fileperms($folder->toLocal()))}
                {/foreach}
                </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Brutal actions</h2>
            <p>
                <br><a n:href="Admin:deleteAll">Delete ALL posters</a>
            </p>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>
{/block}

