<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">   {* this is only needed for when the page is saved locally *}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{_ui.meta.description}"/>
    <meta name="keywords" content="{_ui.meta.keywords}">
    <link rel="icon" href="{$basePath}/img/original.ico">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Zveme.cz</title>
    <link rel="stylesheet" href="{$basePath}/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="{$basePath}/css/layout.css"/>
    <link rel="stylesheet" href="{$basePath}/css/override.css"/>
    {ifset css}{include css}{/ifset}


    {ifCurrent Error4xx:default}
        {* prevent error presenters from being indexed by search engines *}
        <meta name=“robots“ content=“noindex, nofollow“>
    {/ifCurrent}
</head>
<body>
    {ifCurrent Error4xx:default}
        {include content}
        {* because Error persenters cannot inherit from BasePresenter (ie. no $js etc.) *}
    {else}
        {* flash messages *}
        <div id="flashes">
            <div n:foreach="$flashes as $flash" class="alert alert-dismissable flash alert-{$flash->type}">
                {$flash->message}
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        </div>

        {include content}

        {* Tracy Debugger *}
        {* This holder seems to be NEWLY needed for Tracy to work *}
        <div id="tracy-debug"></div>

        {* JS scripts *}
        {$js->toHtml($basePath)}
    {/ifCurrent}
</body>
</html>