{form signinForm}
    <div n:foreach="$form->errors as $error" class="alert alert-dismissable flash alert-danger">
        {$error} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>




    <div class="form-group">
        <label n:name="username">{_ui.common.username}:</label>
        <input n:name="username" class="form-control input-sm"/>
    </div>
    <div class="form-group">
        <label n:name="password">{_ui.common.password}:</label>
        <input n:name="password" class="form-control input-sm"/>
    </div>
    <input n:name="login" class="btn btn-default"/>
{/form}
