{block css}
    <link rel="stylesheet" href="{$basePath}/css/register.css">
{/block}

{block content}
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                {form registrationForm}
                    <div n:foreach="$form->errors as $error" class="alert alert-dismissable flash alert-danger">
                        {$error} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 form-label">
                                <label n:name="username">{_ui.common.username}:</label>
                            </div>
                            <div class="col-sm-9">
                                <input n:name="username" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 form-label">
                                <label n:name="email">{_ui.common.email}:</label>
                            </div>
                            <div class="col-sm-9">
                                <input n:name="email" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 form-label">
                                <label n:name="password">{_ui.common.password}:</label>
                            </div>
                            <div class="col-sm-9">
                                <input n:name="password" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3 form-label">
                                <label n:name="passwordCheck">{_ui.rg.passwordCheck}:</label>
                            </div>
                            <div class="col-sm-9">
                                <input n:name="passwordCheck" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <input n:name="register" class="btn btn-default"/>
                {/form}
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
{/block}