/* sidebar */
#sidebar-wrapper {
    background-color: rgb(34,34,34) !important;
    border-right: 2px solid rgb(24,24,24);
}
#sidebar-wrapper .checkbox {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-left: 3em;
}
#sidebar-wrapper input[type=checkbox]:not(:checked) + span {
    opacity: 0.3;
}
.checkbox-all {
    margin-bottom: 1em;
}
.sidebar-first {
    margin-top: 3em;
    margin-bottom: 2em;
}


/* poster images */
.mini {
    width: 80px;
    display: inline-block;
}
.mini:hover {
    transform: scale(2.5,2.5);
}
.to-delete {
    width: 95px;
    opacity: 0.5;
}
img[data-payment="100"]{
    border: goldenrod 2px solid;
}
.date-box {
    display: inline-block;
    width: 60px;
    height: 60px;
}




/* signin control */
#control-signin .flash {
    width: 10em;
}


.title {
    display: inline-block;
}
.version {
    position: relative;
    left: -0.4em;
    bottom: -0.4em;
    color: yellow;
    font-style: italic;
}




#admin {
    margin-bottom: 1em;
}