/* misc */
.icon {
    display: inline-block;
    margin-top: 2.05em;
}
a {
    color: deepskyblue;
}
a:hover {
    color: #ccf2ff;
}
@font-face {
    font-family: myriad;
    src: url('../font/myriad-set-pro_thin.ttf');
}
body {
    text-align: center;
    color: white;
    font-family: myriad, Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(34,34,34);
    background: linear-gradient(90deg, rgb(34,34,34), rgb(41,41,41) 40%, rgb(34,34,34))
}
input {
    color: black;
}
#menu-cell {
    text-align: left;
    padding-left: 3em;
}
#upload-cell {
    text-align: right;
    padding-right: 3em;
}


/* flashes */
#flashes {
    position: fixed;
    top: 5px;
    left: 60%;
    width: 500px;
    height: 20px;
    z-index: 10;
}
.close {
    opacity: 0.35;
    filter: alpha(opacity=35); /* Fix for IE8 and lower */
}