/* Spin Kit - spinner */
.sk-double-bounce .sk-child {
    background-color: deepskyblue !important;
}

/* jQuery UI datepicker */
.datepicker {
    color: black;
}

/* Bootstrap 3 */
.alert {
    width:70%;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: black !important;
    margin-top: 0.1em;
    margin-bottom: 0;
}
.form-control > option {
    color: #555;
}
/*
.hidden {
    display: none !important;
    - bootstrap actually has this by default
}
*/


/* Nette */
.required {
    outline: 2px solid red;
    /* LATER make this work - doesnt seem to now */
}


/* Simple sidebar */
#sidebar-wrapper {
    overflow-x: hidden;
}