#form-detail {
    text-align: left;
}
.upload-preview img {
    width: 300px;
}
.ok {
    font-size: 1.3em;
    color: greenyellow;
    font-weight: bold;
}
#button-choose-file {
    margin-top: 3em;
    margin-bottom: 3em;
}

#button-crop-complete {
    display: block;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
}