{block css}
<link rel="stylesheet" href="{$basePath}/css/detail.css">
<link rel="stylesheet" href="{$basePath}/bower_components/magnific-popup/dist/magnific-popup.css">
{/block}



{block content}
<div>
    <a href="{$basePath}/{$poster->getPathHd()->toUrl()}" class="popup">
        <img class="img" src="{$basePath}/{$poster->getPathHd()->toUrl()}"/>
    </a>
    <div class="texts">
        <div n:if="$poster->getName()">
            <span>{_ui.dt.name}:</span> {$poster->getName()}
        </div>
        <div n:if="$poster->getDateEnd()">
            <span>{_ui.dt.dateEnd}:</span> {$poster->getDateEnd()|date:'%d. %m. %Y'}
            {* CARE: there can be no spaces before a filter! *}
        </div>
        <div n:if="$poster->getLocation()" class="hidden">
            <span>{_ui.dt.location}:</span> {$poster->getLocation()}
        </div>
        <div n:if="$poster->getDescription()">
            <span>{_ui.dt.description}:</span> {$poster->getDescription()}
        </div>
    </div>
</div>
{/block}