{block css}
<style>
    h1 {
        margin-top: 4em;
    }
</style>
{/block}


{block content}
<h1 n:block=title>Stránka neexistuje</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p>
            Pravděpodobně jste zadali špatnou adresu v prohlížeči.
            Nic se neděje. Pojďte na <a n:href="Homepage:default">hlavní stránku</a>.
        </p>
    </div>
    <div class="col-md-4"></div>
</div>
<p><small>(chyba 404)</small></p>
{/block}